Source: libperfsonar-perl
Section: perl
Priority: extra
Maintainer: Antoine Delvaux <antoine.delvaux@dante.net>
Build-Depends: debhelper (>= 9.0.0), perl
Standards-Version: 3.9.3
Homepage: http://www.perfsonar.net
Vcs-Git: https://code.google.com/p/perfsonar-ps/
Vcs-Browser: https://code.google.com/p/perfsonar-ps/source/browse?repo=default

Package: libperfsonar-perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, perl, liblog-log4perl-perl, libxml-libxml-perl, libnet-cidr-perl, libnet-ip-perl, libio-interface-perl, libdata-validate-ip-perl, libnet-dns-perl, libnetaddr-ip-perl, libregexp-common-perl, libmouse-perl, libdbi-perl, libconfig-general-perl, ethtool
Description: perfSONAR perl library
 The perfSONAR perl library provides all common perl modules for all
 perfSONAR related services.

Package: perfsonar-common
Architecture: any
Depends: ${misc:Depends}, adduser
Description: perfSONAR common metapackage
 The perfSONAR common metapackage creates a perfsonar user for all
 perfSONAR services. All executables perfSONAR packages should
 depend on it.
