Source: libperfsonar-perl
Section: perl
Priority: extra
Maintainer: Antoine Delvaux <antoine.delvaux@dante.net>
Build-Depends: debhelper (>= 9.0.0), perl
Standards-Version: 3.9.3
Homepage: http://www.perfsonar.net
Vcs-Git: https://github.com/perfsonar/perl-shared.git
Vcs-Browser: https://github.com/perfsonar/perl-shared/tree/debian/wheezy

Package: libperfsonar-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, perl, liblog-log4perl-perl,
 libxml-libxml-perl, libnet-cidr-perl, libnet-ip-perl, libio-interface-perl,
 libdata-validate-ip-perl, libnet-dns-perl, libnetaddr-ip-perl,
 libregexp-common-perl, libmouse-perl, libdbi-perl, libconfig-general-perl,
 ethtool,
 libipc-dirqueue-perl, libossp-uuid-perl, libdata-validate-domain-perl,
 libdatetime-perl, libdatetime-format-iso8601-perl, libhash-merge-perl,
 libhttp-message-perl, libio-socket-ssl-perl, libipc-run-perl, libjson-perl,
 libwww-perl, libmoose-perl, libnet-ip-perl,
 libnet-traceroute-perl, libparams-validate-perl, libstatistics-descriptive-perl,
 liburi-perl, librpc-xml-perl, libnet-ntp-perl, libtemplate-perl
Description: perfSONAR perl library
 The perfSONAR perl library provides all common perl modules for all
 perfSONAR related services.

Package: perfsonar-common
Architecture: all
Depends: ${misc:Depends}, adduser
Description: perfSONAR common metapackage
 The perfSONAR common metapackage creates a perfsonar user for all
 perfSONAR services. All executables perfSONAR packages should
 depend on it.
