<html>
  <head>
    <title>perfAdmin - Directory of Services</title>
  </head>
  <body>
    <h1 align="center">perfSONAR Global Service and Data View</h1>
    <br>
    <center><i>Information Last Fetched <tmpl_var name="MOD"></i></center>
    <br><br>
    
    <table align="center" width="80%">
      <tr>
        <th colspan="3" align="left">
          <i>Table of Contents</i>
        </th>
      </tr>
    <tmpl_loop name=ANCHORTYPES>
      <tr>
        <td width="5%">
          <br>
        </td>
        <td width="5%">
          <br>
        </td>
        <td width="90%" align="left">
          <a href="#<tmpl_var name=ANCHOR>"><tmpl_var name=TYPE></a>
        </td>
      </tr>
      <tr>
        <td colspan="3" width="100%">
          <table width="100%">
          <tmpl_loop name=ANCHORITEMS>
            <tr>
              <td width="5%">
                <br>
              </td>
              <td width="5%">
                <br>
              </td>
              <td width="5%">
                <br>
              </td>
              <td width="85%" align="left">
                <a href="#<tmpl_var name=ANCHOR>"><tmpl_var name=NAME></a>
              </td>
            </tr>
          </tmpl_loop>
          </table>
        </td>
      </tr>
    </tmpl_loop>
    </table>
    <br><br>
    
    <a name="daemons" />
    <tmpl_loop name=DAEMONS>
    <a name="<tmpl_var name=TYPE>" />
    <table align="center" border="1" cellpadding="1" width="85%">

      <tmpl_if name=VIEW>   
      <tr>         
        <th align="center" colspan="5">
          <font size="+1"><tmpl_var name=TYPE> Daemons</font>
        </th>
      </tr>
      <tmpl_else>
      <tr>         
        <th align="center" colspan="4">
          <font size="+1"><tmpl_var name=TYPE> Daemons</font>
        </th>
      </tr>
      </tmpl_if>

      <tmpl_if name=VIEW>   
      <tr>        
        <td align="center" width="20%">
          <i><b>Service Name</b></i>
        </td>
        <td align="center" width="5%">
          <i><b>Service Type</b></i>
        </td>
        <td align="center" width="30">
          <i><b>Address</b></i>
        </td>
        <td align="center" width="40%">
          <i><b>Description</b></i>
        </td>     
        <td align="center" width="5%">
          <i><b>Test</b></i>
        </td> 
      </tr>
      <tmpl_else>
      <tr>        
        <td align="center" width="20%">
          <i><b>Service Name</b></i>
        </td>
        <td align="center" width="10%">
          <i><b>Service Type</b></i>
        </td>
        <td align="center" width="30">
          <i><b>Address</b></i>
        </td>
        <td align="center" width="40%">
          <i><b>Description</b></i>
        </td>     
      </tr>
      </tmpl_if>

      <tmpl_loop name=CONTENTS>
      <tr>
        <tmpl_if name=VIEW>
        <td align="left">
          <tmpl_var name=NAME>
        </td>
        <td align="center">
          <tmpl_var name=TYPE>
        </td>
        <td align="left">
          <tmpl_var name=DAEMON>
        </td>
        <td align="left">
          <tmpl_var name=DESC>
        </td>       
        <td align="center">
          <input type="submit" value="Test" id="<tmpl_var name=COUNT1>.<tmpl_var name=COUNT2>" name="<tmpl_var name=COUNT1>.<tmpl_var name=COUNT2>" onClick="window.open('<tmpl_var name=DAEMON>','testwindow.<tmpl_var name=COUNT1>.<tmpl_var name=COUNT2>','width=800,height=600,status=yes,scrollbars=yes,resizable=yes,status=yes,toolbar=yes,location=yes,menubar=yes')" />
        </td>  
        <tmpl_else>
        <td align="left">
          <tmpl_var name=NAME>
        </td>
        <td align="center">
          <tmpl_var name=TYPE>
        </td>
        <td align="left">
          <tmpl_var name=DAEMON>
        </td>
        <td align="left">
          <tmpl_var name=DESC>
        </td>       
        </tmpl_if>
      </tr>
      </tmpl_loop>
    </table>
    <br><br>
    </tmpl_loop>
    <br><br><br>  
    
    <a name="services" />
    <tmpl_loop name=SERVICES>
    <a name="<tmpl_var name=TYPE>" />
    <table align="center" border="1" cellpadding="1" width="85%">
      <tr>
        <th align="center" colspan="5">
          <font size="+1"><tmpl_var name=TYPE> Services</font>
        </th>
      </tr>
      <tr>
        <td align="center" width="20%">
          <i><b>Service Name</b></i>
        </td>
        <td align="center" width="5%">
          <i><b>Service Type</b></i>
        </td>
        <td align="center" width="30">
          <i><b>Address</b></i>
        </td>
        <td align="center" width="40%">
          <i><b>Description</b></i>
        </td>     
        <td align="center" width="5%">
          <i><b>View</b></i>
        </td>   
      </tr>
      <tmpl_loop name=CONTENTS>
      <tr>
        <td align="left">
          <tmpl_var name=NAME>
        </td>
        <td align="center">
          <tmpl_var name=TYPE>
        </td>
        <td align="left">
          <tmpl_var name=SERVICE>
        </td>
        <td align="left">
          <tmpl_var name=DESC>
        </td>       
        <td align="center">

          <input type="submit" value="Query" id="<tmpl_var name=COUNT1>.<tmpl_var name=COUNT2>" name="<tmpl_var name=COUNT1>.<tmpl_var name=COUNT2>" onClick="window.open('./serviceTest.cgi?url=<tmpl_var name=SERVICE>&eventType=<tmpl_var name=EVENTTYPE>','graphwindow.<tmpl_var name=COUNT1>.<tmpl_var name=COUNT2>','width=800,height=600,status=yes,scrollbars=yes,resizable=yes,status=yes,toolbar=yes,location=yes,menubar=yes')" />

        </td>     
      </tr>
      </tmpl_loop>
    </table>
    <br><br>
    </tmpl_loop>
  </body>
</html>

