<html>
  <head>
    <title>perfAdmin - Service Display - perfSONAR-BUOY Bandwidth Data</title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["columnchart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Location');
        data.addColumn('number', 'Bandwidth Inbound (<tmpl_var name=GRAPHPREFIX>bps)');
        data.addColumn('number', 'Bandwidth Outbound (<tmpl_var name=GRAPHPREFIX>bps)');       
        data.addRows(<tmpl_var name=GRAPHTOTAL>);
        <tmpl_loop name=GRAPH>
        data.setValue(<tmpl_var name=C>, 0, '<tmpl_var name=LOCATION>');
        data.setValue(<tmpl_var name=C>, 1, <tmpl_var name=IN>);
        data.setValue(<tmpl_var name=C>, 2, <tmpl_var name=OUT>); 
        </tmpl_loop>        
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, {width: <tmpl_var name=GRAPHTOTAL>*100, height: 250, is3D: false, title: '1 Day Average Bandwidth in <tmpl_var name=GRAPHPREFIX>bps', legendFontSize: 10, axisFontSize: 12, titleFontSize: 16, colors: ['#0000ff', '#00cc00'], legend: 'bottom' });
      }
    </script>
  </head>
  <body>
    <table width="95%" align="center" cellpadding="1" border="2">
      <tr>
        <th align="center" colspan="8"><tmpl_var name=EVENTTYPE> @ <tmpl_var name=SERVICE></th>
      </tr>
      <tr>
        <th align="center">Source Host</th>
        <th align="center">Source Address</th>
        <th align="center">Destination Host</th>
        <th align="center">Destination Address</th>
        <th align="center">Protocol</th>
        <th align="center">Line Graph</th>
        <th align="center">Flash Graph</th>
        <th align="center">Scatter Graph</th>
      </tr>
      <tmpl_loop name=PAIRS>
      <tr>
        <td align="center">
          <tmpl_var name=SHOST>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=SADDRESS>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=DHOST>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=DADDRESS>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=PROTOCOL>&nbsp;
        </td>
        <td align="center">
          <select value="Graph" id="graph1_<tmpl_var name=COUNT>" name="graph1_<tmpl_var name=COUNT>" onChange="window.open(options[selectedIndex].value,'graph1_<tmpl_var name=COUNT>','width=950,height=500,status=yes,scrollbars=yes,resizable=yes')">
            <option selected value="./bandwidthGraph.cgi">-- Select --</option>
            <option value="./bandwidthGraph.cgi?url=<tmpl_var name=SERVICE>&key=<tmpl_var name=KEY>&key2=<tmpl_var name=KEY2>&dst=<tmpl_var name=DADDRESS>&src=<tmpl_var name=SADDRESS>&dhost=<tmpl_var name=DHOST>&shost=<tmpl_var name=SHOST>&type=<tmpl_var name=PROTOCOL>&length=86400">1 Day</option>
            <option value="./bandwidthGraph.cgi?url=<tmpl_var name=SERVICE>&key=<tmpl_var name=KEY>&key2=<tmpl_var name=KEY2>&dst=<tmpl_var name=DADDRESS>&src=<tmpl_var name=SADDRESS>&dhost=<tmpl_var name=DHOST>&shost=<tmpl_var name=SHOST>&type=<tmpl_var name=PROTOCOL>&length=604800">1 Week</option>
            <option value="./bandwidthGraph.cgi?url=<tmpl_var name=SERVICE>&key=<tmpl_var name=KEY>&key2=<tmpl_var name=KEY2>&dst=<tmpl_var name=DADDRESS>&src=<tmpl_var name=SADDRESS>&dhost=<tmpl_var name=DHOST>&shost=<tmpl_var name=SHOST>&type=<tmpl_var name=PROTOCOL>&length=2592000">1 Month</option>
          </select>
        </td>
        <td align="center">
          <select value="Graph" id="graph2_<tmpl_var name=COUNT>" name="graph2_<tmpl_var name=COUNT>" onChange="window.open(options[selectedIndex].value,'graph2_<tmpl_var name=COUNT>','width=950,height=550,status=yes,scrollbars=yes,resizable=yes')">
            <option selected value="./bandwidthGraphFlash.cgi">-- Select --</option>
            <option value="./bandwidthGraphFlash.cgi?url=<tmpl_var name=SERVICE>&key=<tmpl_var name=KEY>&key2=<tmpl_var name=KEY2>&dst=<tmpl_var name=DADDRESS>&src=<tmpl_var name=SADDRESS>&dhost=<tmpl_var name=DHOST>&shost=<tmpl_var name=SHOST>&type=<tmpl_var name=PROTOCOL>&length=86400">1 Day</option>
            <option value="./bandwidthGraphFlash.cgi?url=<tmpl_var name=SERVICE>&key=<tmpl_var name=KEY>&key2=<tmpl_var name=KEY2>&dst=<tmpl_var name=DADDRESS>&src=<tmpl_var name=SADDRESS>&dhost=<tmpl_var name=DHOST>&shost=<tmpl_var name=SHOST>&type=<tmpl_var name=PROTOCOL>&length=604800">1 Week</option>
            <option value="./bandwidthGraphFlash.cgi?url=<tmpl_var name=SERVICE>&key=<tmpl_var name=KEY>&key2=<tmpl_var name=KEY2>&dst=<tmpl_var name=DADDRESS>&src=<tmpl_var name=SADDRESS>&dhost=<tmpl_var name=DHOST>&shost=<tmpl_var name=SHOST>&type=<tmpl_var name=PROTOCOL>&length=2592000">1 Month</option>
          </select>
        </td>
        <td align="center">
          <select value="Graph" id="graph3_<tmpl_var name=COUNT>" name="graph3_<tmpl_var name=COUNT>" onChange="window.open(options[selectedIndex].value,'graph3_<tmpl_var name=COUNT>','width=950,height=500,status=yes,scrollbars=yes,resizable=yes')">
            <option selected value="./bandwidthGraphScatter.cgi">-- Select --</option>
            <option value="./bandwidthGraphScatter.cgi?url=<tmpl_var name=SERVICE>&key=<tmpl_var name=KEY>&key2=<tmpl_var name=KEY2>&dst=<tmpl_var name=DADDRESS>&src=<tmpl_var name=SADDRESS>&dhost=<tmpl_var name=DHOST>&shost=<tmpl_var name=SHOST>&type=<tmpl_var name=PROTOCOL>&length=86400">1 Day</option>
            <option value="./bandwidthGraphScatter.cgi?url=<tmpl_var name=SERVICE>&key=<tmpl_var name=KEY>&key2=<tmpl_var name=KEY2>&dst=<tmpl_var name=DADDRESS>&src=<tmpl_var name=SADDRESS>&dhost=<tmpl_var name=DHOST>&shost=<tmpl_var name=SHOST>&type=<tmpl_var name=PROTOCOL>&length=604800">1 Week</option>
            <option value="./bandwidthGraphScatter.cgi?url=<tmpl_var name=SERVICE>&key=<tmpl_var name=KEY>&key2=<tmpl_var name=KEY2>&dst=<tmpl_var name=DADDRESS>&src=<tmpl_var name=SADDRESS>&dhost=<tmpl_var name=DHOST>&shost=<tmpl_var name=SHOST>&type=<tmpl_var name=PROTOCOL>&length=2592000">1 Month</option>
          </select>
        </td>
      </tr>
      </tmpl_loop>
    </table>
    <br><br>
    <center>
      <div id="chart_div"></div>
    </center>
  </body>
</html>

