<html>
  <head>
    <title>perfAdmin - Service Display - SNMP Data</title>
  </head>
  <body>
    <table width="95%" align="center" cellpadding="1" border="2">
      <tr>
        <th align="center" colspan="8"><tmpl_var name=EVENTTYPE> @ <tmpl_var name=SERVICE></th>
      </tr>
      <tr>
        <th align="center">Address</th>
        <th align="center">Host Name</th>
        <th align="center">If. Index</th>
        <th align="center">If. Name</th>
        <th align="center">Description</th>
        <th align="center">If. Address</th>
        <th align="center">Capacity</th>
        <th align="center">Graph</th>
        <th align="center">Flash Graph</th>
      </tr>
      <tmpl_loop name=INTERFACES>
      <tr>
        <td align="center">
          <tmpl_var name=ADDRESS>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=HOST>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=IFINDEX>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=IFNAME>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=DESC>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=IFADDRESS>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=CAPACITY>&nbsp;
        </td>
        <td align="center">
          <select name="graph1.<tmpl_var name=COUNT>" id="graph1.<tmpl_var name=COUNT>" onChange="window.open(options[selectedIndex].value,'graph1.<tmpl_var name=COUNT>','width=950,height=500,status=yes,scrollbars=yes,resizable=yes')">
            <option selected value="./utilizationGraph.cgi">-- Select --</option>
            <option value="./utilizationGraph.cgi?key1_type=<tmpl_var name=KEY1TYPE>&key1_1=<tmpl_var name=KEY11>&key1_2=<tmpl_var name=KEY12>&key2_type=<tmpl_var name=KEY2TYPE>&key2_1=<tmpl_var name=KEY21>&key2_2=<tmpl_var name=KEY22>&url=<tmpl_var name=SERVICE>&host=<tmpl_var name=HOST>&interface=<tmpl_var name=IFNAME>&length=3600">1 Hour</option>
            <option value="./utilizationGraph.cgi?key1_type=<tmpl_var name=KEY1TYPE>&key1_1=<tmpl_var name=KEY11>&key1_2=<tmpl_var name=KEY12>&key2_type=<tmpl_var name=KEY2TYPE>&key2_1=<tmpl_var name=KEY21>&key2_2=<tmpl_var name=KEY22>&url=<tmpl_var name=SERVICE>&host=<tmpl_var name=HOST>&interface=<tmpl_var name=IFNAME>&length=14400">4 Hours</option>
            <option value="./utilizationGraph.cgi?key1_type=<tmpl_var name=KEY1TYPE>&key1_1=<tmpl_var name=KEY11>&key1_2=<tmpl_var name=KEY12>&key2_type=<tmpl_var name=KEY2TYPE>&key2_1=<tmpl_var name=KEY21>&key2_2=<tmpl_var name=KEY22>&url=<tmpl_var name=SERVICE>&host=<tmpl_var name=HOST>&interface=<tmpl_var name=IFNAME>&length=43200">12 Hours</option>
            <option value="./utilizationGraph.cgi?key1_type=<tmpl_var name=KEY1TYPE>&key1_1=<tmpl_var name=KEY11>&key1_2=<tmpl_var name=KEY12>&key2_type=<tmpl_var name=KEY2TYPE>&key2_1=<tmpl_var name=KEY21>&key2_2=<tmpl_var name=KEY22>&url=<tmpl_var name=SERVICE>&host=<tmpl_var name=HOST>&interface=<tmpl_var name=IFNAME>&length=86400">24 Hours</option>
          </select>
        </td>    
        <td align="center">
          <select name="graph2.<tmpl_var name=COUNT>" id="graph2.<tmpl_var name=COUNT>" onChange="window.open(options[selectedIndex].value,'graph2.<tmpl_var name=COUNT>','width=950,height=550,status=yes,scrollbars=yes,resizable=yes')">
            <option selected value="./utilizationGraphFlash.cgi">-- Select --</option>
            <option value="./utilizationGraphFlash.cgi?key1_type=<tmpl_var name=KEY1TYPE>&key1_1=<tmpl_var name=KEY11>&key1_2=<tmpl_var name=KEY12>&key2_type=<tmpl_var name=KEY2TYPE>&key2_1=<tmpl_var name=KEY21>&key2_2=<tmpl_var name=KEY22>&url=<tmpl_var name=SERVICE>&host=<tmpl_var name=HOST>&interface=<tmpl_var name=IFNAME>&length=3600">1 Hour</option>
            <option value="./utilizationGraphFlash.cgi?key1_type=<tmpl_var name=KEY1TYPE>&key1_1=<tmpl_var name=KEY11>&key1_2=<tmpl_var name=KEY12>&key2_type=<tmpl_var name=KEY2TYPE>&key2_1=<tmpl_var name=KEY21>&key2_2=<tmpl_var name=KEY22>&url=<tmpl_var name=SERVICE>&host=<tmpl_var name=HOST>&interface=<tmpl_var name=IFNAME>&length=14400">4 Hours</option>
            <option value="./utilizationGraphFlash.cgi?key1_type=<tmpl_var name=KEY1TYPE>&key1_1=<tmpl_var name=KEY11>&key1_2=<tmpl_var name=KEY12>&key2_type=<tmpl_var name=KEY2TYPE>&key2_1=<tmpl_var name=KEY21>&key2_2=<tmpl_var name=KEY22>&url=<tmpl_var name=SERVICE>&host=<tmpl_var name=HOST>&interface=<tmpl_var name=IFNAME>&length=43200">12 Hours</option>
            <option value="./utilizationGraphFlash.cgi?key1_type=<tmpl_var name=KEY1TYPE>&key1_1=<tmpl_var name=KEY11>&key1_2=<tmpl_var name=KEY12>&key2_type=<tmpl_var name=KEY2TYPE>&key2_1=<tmpl_var name=KEY21>&key2_2=<tmpl_var name=KEY22>&url=<tmpl_var name=SERVICE>&host=<tmpl_var name=HOST>&interface=<tmpl_var name=IFNAME>&length=86400">24 Hours</option>
          </select>
        </td>        
      </tr>
      </tmpl_loop>
    </table>
  </body>
</html>
