<html>
  <head>
    <title>perfAdmin - Service Display - perfSONAR-BUOY Bandwidth Data</title>
  </head>
  <body>
    <table width="95%" align="center" cellpadding="1" border="2">
      <tr>
        <th align="center" colspan="7"><tmpl_var name=EVENTTYPE> @ <tmpl_var name=SERVICE></th>
      </tr>
      <tr>
        <th align="center">Source Host</th>
        <th align="center">Source Address</th>
        <th align="center">Destination Host</th>
        <th align="center">Destination Address</th>
        <th align="center">Protocol</th>
        <th align="center">Graph</th>
        <th align="center">Flash Graph</th>
      </tr>
      <tmpl_loop name=PAIRS>
      <tr>
        <td align="center">
          <tmpl_var name=SHOST>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=SADDRESS>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=DHOST>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=DADDRESS>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=PROTOCOL>&nbsp;
        </td>
        <td align="center">
          <input type="submit" value="Graph" id="graph1.<tmpl_var name=COUNT>" name="graph1.<tmpl_var name=COUNT>" onClick="window.open('./bandwidthGraph.cgi?url=<tmpl_var name=SERVICE>&key=<tmpl_var name=KEY>&key2=<tmpl_var name=KEY2>&dst=<tmpl_var name=DADDRESS>&src=<tmpl_var name=SADDRESS>&dhost=<tmpl_var name=DHOST>&shost=<tmpl_var name=SHOST>&type=<tmpl_var name=PROTOCOL>','graph2.<tmpl_var name=COUNT>','width=950,height=500,status=yes,scrollbars=yes,resizable=yes')" />
        </td>
        <td align="center">
          <input type="submit" value="Graph" id="graph2.<tmpl_var name=COUNT>" name="graph2.<tmpl_var name=COUNT>" onClick="window.open('./bandwidthGraphFlash.cgi?url=<tmpl_var name=SERVICE>&key=<tmpl_var name=KEY>&key2=<tmpl_var name=KEY2>&dst=<tmpl_var name=DADDRESS>&src=<tmpl_var name=SADDRESS>&dhost=<tmpl_var name=DHOST>&shost=<tmpl_var name=SHOST>&type=<tmpl_var name=PROTOCOL>','graph2.<tmpl_var name=COUNT>','width=950,height=550,status=yes,scrollbars=yes,resizable=yes')" />
        </td>
      </tr>
      </tmpl_loop>
    </table>
  </body>
</html>

