<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>SLAC National Accelerator Laboratory perfSONAR Google Maps Mashup</title>

    <link rel="stylesheet" href="gmaps.css" type="text/css" />

    <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=[% GOOGLEMAPKEY %]"></script>

    <script type="text/javascript" src="dragDrop.js"></script>
    <script type="text/javascript" src="checktree.js"></script>
    <script type="text/javascript" src="extinfowindow.js"></script>

    <script type="text/javascript" src="MetaData.js"></script>
    <script type="text/javascript" src="Markers.js"></script>  
    <script type="text/javascript" src="Links.js"></script>  
    <script type="text/javascript" src="ExtInfoWindowView.js"></script>  
    <script type="text/javascript" src="Sidebar.js"></script>  
    <script type="text/javascript" src="IO.js"></script>
    <script type="text/javascript" src="Help.js"></script>
    
    <link rel="stylesheet" href="checktree.css" type="text/css" />

    <script type="text/javascript">

    var map; 
    var tooltip;
    var checkmenu = undefined;
    
    var debug = 0;  // global GLog output

    function frameResize() {
      //document.getElementById("side_bar").style.height = window.innerHeight - 200;
      map.checkResize();
    }

    function initMap( element ) {

      if (GBrowserIsCompatible()) {

        map = new GMap2(document.getElementById( element ));
        var mapDiv = document.getElementById( element ); 
       	map.addControl(new GLargeMapControl());
        map.addControl(new GMapTypeControl());
        map.addControl(new GOverviewMapControl());        
        map.setCenter(new GLatLng(40,-50), 3);
        //map.enableScrollWheelZoom();
        map.disableDoubleClickZoom();
        GEvent.clearListeners( map, 'dblclick' );
        
        // tooltip layer
        tooltip = document.createElement("div");
        tooltip.className = "tooltip";
        map.getPane( G_MAP_MARKER_PANE ).appendChild( tooltip );
        
        // Monitor the window resize event and let the map know when it occurs
        if (window.attachEvent) { 
          window.attachEvent("onresize", function() { frameResize() } );
        } else {
          window.addEventListener("resize", function() { frameResize() } , false);
        }
        
        GEvent.addListener( map, 'dblclick', function() {
          Help.map();
        });

      }
      else {
        alert( "Sorry, your browser is not compatible with GoogleMaps." );
      } 
      
    }
    
    function init() {
      
      Markers.init();
      Links.init();
      Sidebar.init( 'side_bar' );

      
      dragDrop.initElement( 'list', 'title' );
      dragDrop.initElement( 'comms', 'title' );
      dragDrop.initElement( 'help', 'title' );

      Help.init( 'help_panel' );

      initMap( 'map' );
      
      // set the css for the popup info window
      ExtInfoWindowView.init( 'info_window');
              
      setInterval( "if( map.getExtInfoWindow() ) ExtInfoWindowView.focus();", 60 * 1000 );

      IO.fetchInitial();

      Help.map();

    }

    </script>
    
  </head>
  
  <body onload="init();" onunload="GUnload();">
  
    <div id="map"></div>

    <div id="list">
      <div id="title">Interactive List</div>
      <div id="palette_shadow"></div>
      <div id="side_bar"></div>
    </div>
    
    <div id="comms">
      <div id="title">Query a perfSONAR Service</div>
      <div id="palette_shadow"></div>
      <div id="comms_panel">
        <table>
          <tr>
            <td>Access Point: <input id="accessPoint" type="text" name="accessPoint"/></td>
            <td><button onclick="var input = document.getElementById('accessPoint').value; var accessPoint = '?mode=discover&amp;accessPoint=' + input; IO.discover( accessPoint );">Discover</button></td>
          </tr>
        </table>
      </div>
    </div>

    <div id="help">
      <div id="title">Interactive Help</div>
      <div id="palette_shadow"></div>
      <div id="help_panel"><b>Loading help...</b></div>
    </div>

    <div id="slac_logo"><img src="images/slac_logo_small.png"/></div>
    <div id="internet2_logo"><img src="images/internet2_logo_small.png"/></div>
    <div id="perfsonar_logo"><img src="images/perfsonar_logo_small.png"/></div>

  </body>

</html>
