Source: libperfsonar-sls-perl
Section: perl
Priority: extra
Maintainer: Antoine Delvaux <antoine.delvaux@dante.net>
Build-Depends: debhelper (>= 9.0.0), perl
Standards-Version: 3.9.3
Homepage: http://www.perfsonar.net
Vcs-Git: https://code.google.com/p/perfsonar-ps/
Vcs-Browser: https://code.google.com/p/perfsonar-ps/source/browse?repo=default

Package: libperfsonar-sls-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, perl, libyaml-syck-perl,
 libparams-validate-perl, libjson-perl, libdatetime-format-iso8601-perl
Description: perfSONAR Simple Lookup Service perl library
 The perfSONAR Simple Lookup Service perl library provides all common perl
 modules to interact with the perfSONAR Simple Lookup Service.
