bandwidth => http://ggf.org/ns/nmwg/characteristics/bandwidth/achievable/2.0
delay => http://ggf.org/ns/nmwg/characteristic/delay/summary/20070921
utilization => http://ggf.org/ns/nmwg/characteristic/utilization/2.0
owamp => http://ggf.org/ns/nmwg/tools/owamp/1.0
owamp2 => http://ggf.org/ns/nmwg/tools/owamp/2.0
bwctl => http://ggf.org/ns/nmwg/tools/bwctl/1.0
pinger => http://ggf.org/ns/nmwg/tools/pinger/2.0
snmp => http://ggf.org/ns/nmwg/tools/snmp/2.0
npad => http://ggf.org/ns/nmwg/tools/npad/1.0
ndt => http://ggf.org/ns/nmwg/tools/ndt/1.0
topology => http://ggf.org/ns/nmwg/topology/20070809
nmctrlplane => http://ogf.org/schema/network/topology/ctrlPlane/20080828/
nmtb => http://ogf.org/schema/network/topology/base/20070828/

