html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
html {
  overflow: hidden;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #CCCCCC;
}
div#map {
  width: 100%;
  height: 100%;
  z-index: 1;
}


div.dragged {
	cursor: all-scroll !important;
	border-color: #000000 !important;
	z-index: 999999 !important;
}

div#list, div#comms, div#help, 
.tabs, .tab, .tabSelected {
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	cursor: pointer;
}
div#list, div#comms, div#help {
    cellpadding: 0px 0px 0px 0px;
	position: absolute;
}

div#palette_shadow {
  position: absolute;
  left: 2px;
  top: 2px; background-color: black;
  opacity: 0.35;
  width: 100%
  height: 100%;
}

div#list {
	max-width: 33%;
	max-height: 90%;
	top: 36px;
	right: 6px;
	z-index: 100000;
  overflow-y: auto;
  overflow-x: none;
}

div#comms {
    width: 300px;
    top: 10px;
    left: 80px;
    z-index: 200000;
}

div#help {
  width: 190px;
  bottom: 15px;
  left: 190px;
  z-index: 200000;
}




#comms_panel, #help_panel, #side_bar, #status_bar,
.tabs, .tab, .tabSelected {
  -moz-user-select: none;
  background-color: #ffffff;  
  font-size: 75%;
  filter: alpha(opacity=80);
  -moz-opacity: .80;
  opacity: .80;
  offset: 0px 0px 0px 0px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
}

.tabs {
    -moz-opacity: .90;
    opacity: 0.90;
}

div.tabs, div.title {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

#side_bar {
  text-align: left;
}

#status_bar {
  text-align: left;
  max-width: 100%;
}

table {
  width: 100%;
}

#title, div.title {
  font-family: Verdana,Arial,sans-serif;

  color: white;
  -moz-user-select: none;
  background-color: #979797;  
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  position: relative;
}
div.title {
    font-size: 8pt;
}
#title {
  font-size: 85%;
}

#slac_logo {
  position: absolute;
  left: 12px;
  bottom: 110px;
  z-index: 99998;
}
#internet2_logo {
  position: absolute;
  left: 38px;
  bottom: 60px;
  z-index: 99997;
}
#perfsonar_logo {
  position: absolute;
  left: 25px;
  bottom: 27px;
  z-index: 99996;
}
  
#invert_markers, #select_all_markers, #select_none_markers {
  font-size: 6pt;
}

.infoWindow {
    font-size: 7pt;
}

.tooltip { text-align: center;
	opacity: .70;
	-moz-opacity:.70;
	filter:Alpha(opacity=70);
	white-space: nowrap;
	margin: 0;
	padding: 2px 0.5ex;
	border: 1px solid #000;
	font-weight: bold;
	font-size: 9pt;
	font-family: Verdana;
	background-color: #fff;
}

button, select {
    font-size: 7pt;
}

button {
    cursor: pointer;
    font-weight: bold;
}




#info_window{
  min-width: 200px;
  width: 500px;
  max-width: 500px;
  background-color: #FFF;
}

#info_window_tl, #info_window_tr, #info_window_bl, #info_window_br{
  width: 1px;
  height: 1px;
}

#info_window_l, #info_window_r {
  width: 1px;
}
#info_window_t, #info_window_b {
  height: 1px;
}

#info_window_l, #info_window_r,
#info_window_t, #info_window_b,
#info_window_tl, #info_window_tr, #info_window_bl, #info_window_br{
  position: relative;
  border: 0px;
  offset: 0px 0px 0px 0px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
}


#info_window_close{
  width: 21px;
  height: 21px;
  margin-top: 1px;
  background: url('../images/infoWindow/close.png') top left no-repeat transparent;
  cursor: pointer;
}

#info_window_beak{
  width: 100px;
  height: 28px;
  background: url('../images/infoWindow/beak.png') top left no-repeat transparent;
}


#info_window_contents, #info_window_contents .section1, #info_window_contents .section2{
  margin: 0;
  padding: 0;
}



/* styles for tabs part */
.tabs_header{
  position: absolute;
  top: -20px;
  left: 0px;
  float: left;
}


.tab, .tabSelected {
  float: left;
  font-size: 12px;
  cursor: pointer;
  height: 18px;
  padding-bottom: 0px;
}  

.tabSelected {
    color: white;
    -moz-user-select: none;
    background-color: #979797;
  font-weight: bold;
}


.tabs_header .tab p.contents,
.tabs_header .tabSelected p.contents {
  margin: 3px 10px 0 10px;
  _margin-top: 5px;
  padding: 0;
}

.tab_contents, .tab_content_first {
  position: relative; 
  top: 0;
  left: 0;
}
.tab_content {
  position: absolute;
  display: none;
}
